{
  "presets": [
    [
      "@babel/env",
      {
        "corejs": 3,
        "useBuiltIns": "usage",
        "debug": true,
        "targets": ["last 2 chrome version", "last 2 firefox version"],
        "modules": false
      }
    ],
    "@babel/react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
    // Ваши дополнительные плагины
  ]
}

